<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847070515399-6ffgl1960vtcd1tm2ilrr04qvvmo8j3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847070515399-6ffgl1960vtcd1tm2ilrr04qvvmo8j3q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>847070515399-5jn5vkuko7gak9vqvh7hon3f97ih0djc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNqwtjEy2YjgLLSZgT_zuEIC3OXYB75og</string>
	<key>GCM_SENDER_ID</key>
	<string>847070515399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moglix.online</string>
	<key>PROJECT_ID</key>
	<string>halogen-framing-198806</string>
	<key>STORAGE_BUCKET</key>
	<string>halogen-framing-198806.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847070515399:ios:58082f49fce1d00bf3aee2</string>
	<key>DATABASE_URL</key>
	<string>https://halogen-framing-198806.firebaseio.com</string>
</dict>
</plist>